# Week 13 - Earn-Back Points Assignment #3

These exercises are entirely optional, but they provide good practice. And you can use them to earn extra points toward your semester grade.  Each problem in this notebook can you earn you back up to 2 points.  There are key requirements, though. If your code does not following these rules, you will earn no points for your work.
* You MUST include docstrings that explain the purpose of your code.
* You MUST include at least 2 example tests in your docstrings for each function you write.
* You MUST run your docstrings within the notebook to show me your code and docstrings work correctly.
* You MUST submit your own individual work.  You may not collaborate with other students on these assignments.

There will be 4 assignments like this between now and the end of the semester, each with 4 problems, each worth 2 points, for a total of 32 points.

**If anything about the above rules is unclear, please message me on Canvas or via email**

---

## Earn-Back 1: Fetal Activity Data

Cardiotocograms are a useful tool for monitoring the health of fetuses and potential mortality of fetuses and pregnant women. This [dataset on Kaggle](https://www.kaggle.com/datasets/andrewmvd/fetal-health-classification?resource=download) is a collection of measurements 2,126 test subjects. Let's do some interesting things with this data!

I've already downloaded it and put in the Jupyter server under /data/fetal_health.csv

Your first step is to write a python function called **risk_score()** that takes three input parameters (shown below) and returns back a new series computed using the following rules to compute a total risk score:
* If the histograph number of peaks is greater than 5, add 1 to the risk score
* If the number of accelerations per second is greater than 0.01, add 1 to the risk score
* If the number of light decelerations per second is greather than 0.005, add 1 to the risk score

*Note that these rules were made up by the instructor. They have no scientific basis behind them.*

In [1]:
import pandas as pd
df = pd.read_csv('/data/fetal_health.csv')
df.columns

Index(['baseline value', 'accelerations', 'fetal_movement',
       'uterine_contractions', 'light_decelerations', 'severe_decelerations',
       'prolongued_decelerations', 'abnormal_short_term_variability',
       'mean_value_of_short_term_variability',
       'percentage_of_time_with_abnormal_long_term_variability',
       'mean_value_of_long_term_variability', 'histogram_width',
       'histogram_min', 'histogram_max', 'histogram_number_of_peaks',
       'histogram_number_of_zeroes', 'histogram_mode', 'histogram_mean',
       'histogram_median', 'histogram_variance', 'histogram_tendency',
       'fetal_health'],
      dtype='object')

In [19]:
def risk_score(histogram, accelerations, light_decelerations):
    '''(int, float, float) -> int
    This risk score function takes 3 parameters (histograph number of peaks, accelerations per second and light decelerations per second),
    and computes a score according to the algorithm shown below.
    
    >>> risk_score(2, 0.0, 0.0)
    0
    >>> risk_score(9, 0.03, 0.004)
    2
    '''
    score = 0
    if histogram > 5:
        score +=1
    if accelerations > 0.01:
        score +=1
    if light_decelerations > 0.005:
        score +=1
    return score

In [20]:
import doctest
doctest.run_docstring_examples(risk_score, globals(), verbose=True)

Finding tests in NoName
Trying:
    risk_score(2, 0.0, 0.0)
Expecting:
    0
ok
Trying:
    risk_score(9, 0.03, 0.004)
Expecting:
    2
ok

In [11]:
assert risk_score(2, 0.0, 0.0) == 0
assert risk_score(6, 0.006, 0.003) == 1
assert risk_score(5, 0.015, 0.0) == 1

---

## Earn-Back Part 2: Score the Data

In this next step, write a function called **score_subjects()** that takes your whole Dataframe as input and returns a new Series with scores for every record.  I recommend doing this with the `apply()` function similar to the BMI example below:

In [ ]:
# 1. Create our sample dataframe
people = pd.DataFrame([
    ['Joe', 170, 85],
    ['Alex', 190, 110]
], columns=['Name','Height (cm)','Weight (kg)'])

# 2. Define our function just like we would a normal function to calculate BMI
def bmi(height_cm, weight_kg):
    return weight_kg / ((height_cm/100) ** 2)

# 3. Apply the bmi() function to each row using a lambda function
#    Set "axis=1" to apply the function to each row (instead of column)
#    Use an anonymous "lambda" function to call bmi function
#    passing the height and weight columns from our dataframe.
people.apply(lambda x: bmi(x['Height (cm)'],x['Weight (kg)']), axis=1)

In [25]:

# Making sure to keep all countries and drop any non country row.
# Creating an index for each country that does not have a countrie code and filling the empty country code to later drop any non country.

indexer1 = df[df['Entity']== 'England'].index
df.loc[1770:1799,['Code']] = 'ENG'

indexer2 = df[df['Entity']== 'Wales'].index
df.loc[6540:6569,['Code']] = 'WLS'

indexer3 = df[df['Entity']== 'Scotland'].index
df.loc[5130:5159,['Code']] = 'SCL'

indexer4 = df[df['Entity']== 'Northern Ireland'].index
df.loc[4290:4319,['Code']] = 'NI'

df

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2835,11483,1063,1354,4854,1820,4336,...,5636,2879,4328,1068,407,138,730,21,734,282
6836,Zimbabwe,ZWE,2016,2781,11663,1082,1383,4915,1854,4244,...,5849,2798,4295,1042,415,101,674,20,700,275
6837,Zimbabwe,ZWE,2017,2700,11819,1098,1409,4992,1883,4193,...,6047,2744,4251,1007,424,82,629,19,678,267
6838,Zimbabwe,ZWE,2018,2669,12002,1117,1439,5044,1917,4013,...,6248,2608,4153,969,434,85,607,17,644,261
6839,Zimbabwe,ZWE,2019,2680,12241,1140,1475,5156,1960,3914,...,6475,2531,4113,963,438,81,585,16,631,259

#### Start Your Code Here

In [29]:
def score_subjects(df):
    '''(dataframe) - > series
    This function will take a certain dataframe to read and apply to it the risk_score function using the same parameters above to 
    form a series of scores for every record in the datafram.
    
    >>> score_subjects(df).value_counts()[0] 
    1341
    >>> min(score_subjects(df))
    0
    '''
    
    #df = pd.read_csv('/data/fetal_health.csv')
    return df.apply(lambda a: risk_score(a['histogram_number_of_peaks'], a['accelerations'], a['light_decelerations']), axis=1)

In [30]:
import doctest
doctest.run_docstring_examples(score_subjects, globals(), verbose=True)

Finding tests in NoName
Trying:
    score_subjects(df).value_counts()[0]
Expecting:
    1341
ok
Trying:
    min(score_subjects(df))
Expecting:
    0
ok

In [31]:
assert len(score_subjects(df).value_counts()) == 4
assert max(score_subjects(df)) == 3
assert min(score_subjects(df)) == 0
assert score_subjects(df).value_counts()[0] == 1341
assert score_subjects(df).value_counts()[1] == 574

## Earn-Back Part 3:

Insert the results of your **score_subjects()** function as a new column in your dataframe. Call that new column **Risk Score**
You do not need to write a function to this.  Just write this code directly in the cells below.  Provide some minimal documentation to explain what you're doing.

In [ ]:
df['Risk Score'] = score_subjects(df)

In [ ]:
df['Risk Score'].value_counts()

## Earn-Back Part 4:

Summarize your dataframe in the following way. For each **Risk Score** provide the following aggregates:
* Count
* Average **histogram_number_of_peaks**
* Average **acceleration**
* Average **light_deceleration**

In [ ]:
df = df.groupby('Risk Score')
df['Risk Score'].agg(['count'])

In [ ]:
df['histogram_number_of_peaks'].agg(['mean']).rename(columns={"mean": "mean histogram_number_of_peaks"})

In [ ]:
df['accelerations'].agg(['mean']).rename(columns={"mean": "mean accelerations"})

In [ ]:
df['light_decelerations'].agg(['mean']).rename(columns ={"mean": "mean light decelerations"})

## Submit your work to github in your week 11 folder by 11/18 11:59 PM